html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    background:transparent;
    border:0;
    font-size:1em;
    font-variant:normal;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

body {
    background-color: #ffffff;
    color:#1e1e1e;
    font-family: Georgia, serif;
    font-size:1.2em;
    margin: 0 auto 0 auto;
    padding:0.8em 0;
    text-align:justify;
    width: 42em;
    background-image: url('../images/face_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
}

#title, h1, h2, h3 {
    font-family: LinuxBiolinum, Helvetica, Arial, sans-serif;
}

#title {
    padding:0;
    text-align:right;
    font-weight: bold;
}

#title a {
    font-size:4em;
    text-shadow: 1px 1px 0px black,
                 2px 2px 0px #476871,
                 3px 3px 0px #476871,
                 4px 4px 0px #476871,
                 5px 5px 0px #476871,
                 6px 6px 0px #476871,
                 7px 7px 0px #476871;
    color:#E3D7BF;
    text-decoration:none;
}

div {
    padding: 0.7em;
}
 
#footer a {
    color:#1e1e1e;
}

#footer {
    text-align:right;
}

/* Stuff for the index */

#articles ul {
    list-style:none;
    text-align:left;
}

#articles li {
    clear:both;
    padding:0.15em 0;
}

#articles .date {
    color:#5b5b5b;
    font-weight:normal;
    padding:0 0.5em 0 0;
    text-shadow: none;
}

#articles a {
    color: #476871;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px 0 black;
}

/* Stuff for the article display */

#article h1 {
    color:#476871;
    padding:0.15em 0;
    text-align:left;
    text-shadow: -1px -1px 0 black;
    font-size: 2em;
}

#article h1 em {
    color:#5b5b5b;
    float:right;
    font-weight:normal;
    padding:0 0 0 1em;
    text-shadow:none;
}

p {
    padding:0.1em 0;
    text-indent:1.5em;
    font-family: Georgia, serif;
}

blockquote {
    background: #f0f0f0;
    border-left: 5px solid #7F1315;
    margin: 0.5em 1em 0.5em 2.5em;
    padding: 0.5em 0.7em;
}

blockquote p {
    text-indent: 0;
}

#article h2 {
    font-size:2em;
    font-weight:bold;
    padding:0.6em 0 0.3em 0;
}

#article h3 {
    font-size:1.5em;
    font-weight:bold;
    padding:0.6em 0 0.3em 0;
}

a {
    color: black;
}

#article ul {
    margin:0.2em 1.5em;
}

#article li {
    margin:0 0 0.2em 0;
}

/* Safeguard against the background */

#footer {
    background-color:rgba(255, 255, 255, 0.5);
}

#articles {
    background-color:rgba(255, 255, 255, 0.5);
}

#article {
    background-color:rgba(255, 255, 255, 0.5);
}

/* Pandoc and agda */
pre.sourceCode, pre.Agda {
    background-color:#f3f3bb;
    margin:0.2em 0;
    padding:0.4em 0.7em;
    overflow-y: auto;
}

table.sourceCode {
    width:100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
