html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    background:transparent;
    border:0;
    font-size:1em;
    font-variant:normal;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    color:#1e1e1e;
    font-family: Georgia, serif;
    font-size:1em;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align:justify;
    width: 45em;
    background-image: url('../images/blog_bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center top;
}

code, samp {
    font-family: monospace;
    font-weight: normal;
    font-size: 1em;
}

#title, h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

#title {
    padding:0;
    text-align:right;
    /* font-weight: bold; */
}

#title a {
    font-size:4em;
    text-shadow: 1px 1px 0px black,
                 2px 2px 0px #476871,
                 3px 3px 0px #476871,
                 4px 4px 0px #476871,
                 5px 5px 0px #476871,
                 6px 6px 0px #476871,
                 7px 7px 0px #476871;
    color:white;
    text-decoration:none;
}

div {
    padding: 0.7em;
}
 
#footer a {
    color:#1e1e1e;
}

#footer {
    text-align:right;
}

/* Stuff for the index */

#articles ul {
    list-style:none;
    text-align:left;
}

#articles li {
    clear:both;
    padding:0.15em 0;
}

.date {
    color:#5b5b5b;
    font-weight:normal;
    text-shadow: none;
    font-size: 0.7em;
    vertical-align: middle;
}

#articles .date {
    padding:0 0.5em 0 0;
}

#articles a {
    color: #476871;
    font-size: 1.8em;
    text-decoration: none;
    text-shadow: -1px -1px 0 black;
}

/* Stuff for the article display */

#article h1 {
    color:#476871;
    padding:0.15em 0;
    text-align:left;
    text-shadow: -1px -1px 0 black;
    font-size: 1.8em;
}

#article h1 .date {
    float:right;
    padding:0 0 0 1em;
}

p {
    padding:0.1em 0;
    text-indent:1.5em;
    font-family: Georgia, serif;
}

blockquote {
    background: #f0f0f0;
    border-left: 5px solid #7F1315;
    margin: 0.5em 1em 0.5em 2.5em;
    padding: 0.5em 0.7em;
}

blockquote p {
    text-indent: 0;
}

#article h2 {
    font-size:1.6em;
    padding:0.6em 0 0.3em 0;
}

#article h3 {
    font-size:1.3em;
    padding:0.6em 0 0.3em 0;
}

a {
    color: black;
}

#article ul {
    margin:0.2em 1.5em;
}

#article li {
    margin:0 0 0.2em 0;
}

#article li p {
    text-indent: 0;
}

/* Safeguard against the background */

#wrapper {
    padding: 0 1em;
    min-height:100%;
}

#article, #articles, #wrapper, #footer {
    background-color:rgba(255, 255, 255, 0.8);
}

pre {
    margin:0.2em 0;
    padding:0.4em 0.7em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* Pandoc and agda */
pre.sourceCode, pre.Agda {
    background-color:rgba(243, 243, 187, 0.7);
    overflow-y: auto;
}

table.sourceCode {
    width:100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#article td {
  padding: 0.1em 0.2em;
}

.figure {
  text-align: center;
}

.center-image {
  text-align: center;
}

.sc {
  font-variant: small-caps;
}

.yt {
  text-align: center;
  margin: 0.3em 0;
}
