<!doctype html>  

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>mazzo.li &ndash; blag &ndash; $title$</title>
    
    <meta name="author" content="Francesco Mazzoli <f@mazzo.li>">

    <script type="text/javascript" src="//use.typekit.net/mvv1kdm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/agda.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>

  <body>
    <div id="title"><a id="logo" href="/archive.html">mazzo.li</a></div>
    <div id="wrapper">
      $body$
    </div>
  </body>
</html>
