<!doctype html>  

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>mazzo.li &ndash; blag &ndash; $title$</title>
    
    <meta name="author" content="Francesco Mazzoli <f@mazzo.li>">
    
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/agda.css" />
    <script type="text/javascript" src="http://mazzo.li/jslibs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/style.js"></script>
  </head>

  <body>
    <div id="title"><a id="logo" href="/archive.html">mazzo.li</a></div>
    $body$

    <!--
    <div id="footer">
      <a href="http://mazzo.li">About</a>
      &ndash;
      <a href="/rss.xml">RSS</a>/<a href="/atom.xml">Atom</a>
      &ndash;
      <a href="https://github.com/bitonic">github</a>
      &ndash;
      All enquiries to <a href="mailto:f@mazzo.li">f@mazzo.li</a>
    </div>
    -->
  </body>
</html>
